body {
    background-color: aqua;
}

h1,
h2 {
    text-align: center;
}

#counter {
    margin: 0 auto;
    max-width: 100px;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 4px;
    cursor: pointer;
}

button:active {
    background-color: rgb(74, 206, 206);
}